Python
numpy
pandas
matplotlib
scikit-learn
jupyter
numpy
seaborn
pymysql
plotly
thefuzz
python-levenshtein
beautifulsoup4
openpyxl
wheel
sphinx
debugpy
pylint
requirements_ntlm
msal
requests
sqlalchemy
scipy
ipython
ipywidgets
jupyterlab
notebook
ipykernel
mitosheet